

<!-- EXERCICIO 8 INCOMPLETO || <p> {{ slip?.advice }} </p> -->
<main class="container  d-flex flex-column">
    <div class="row w-60">
<img class="p-3 mb-2 col-6 img-fluid" src="https://cataas.com/cat" alt="cat" *ngIf="true" />
<img class="p-3 mb-2 col-6 img-fluid" src="https://cataas.com/cat/gif" alt="cat-gif" *ngIf="true" />

</div>

    <div class="row w-60">
<button class="p-3 mb-2 col-6 btn btn-outline-info" type="button">Imagem</button>
<button class="p-3 mb-2 col-6 btn btn-outline-info" type="button">GIF</button>
</div>
</main>

<!-- <button type="button" (click)="imageCat()">Imagem</button>
<button type="button" (click)="gifCat()">GIF</button> -->